{% extends "bbase.html" %}

{% block title %} 分锅查询 {% endblock %}

{% block content %}
    <div class="container">
        <h1>
            <a href="/">
                <i class="icon-arrow-left-3 fg-darker smaller"></i>
            </a>
            分锅查询 - {{filename}}</h1>
        <div class="grid no-margin">
            <h2>Filter</h2>
            <div class="border">
            <form action="/guo/query/" method="POST">
                {% csrf_token %}
                <fieldset>
                    <label>文件名</label>
                    <div class="input-control text" data-role="input-control">
                        <input type="text" name="filename" placeholder="文件名">
                    </div>
                    <label>关键字</label>
                    <div class="input-control text" data-role="input-control">
                        <input type="text" name="keyword" placeholder="关键字">
                    </div>
                    <input type="submit" value="Submit">
                </fieldset>
            </form>
            </div>
            <h2>Result</h2>
	    {% if metalist %}
            <table class="table striped bordered hovered">
                <thead>
                    <th class="text-left">锅</th>
                    <th class="text-left">版本号</th>
                    <th class="text-left">背锅人</th>
                    <th class="text-left">备注</th>
                </thead>
                <tbody>
                    {% for meta in metalist %}
                    <tr>
					{% ifequal meta.haskey 0 %}
                        <td class="fg-blue">{{meta.haskey}}</td>
                        <td class="fg-blue">{{meta.revision}}</td>
                        <td class="fg-blue">{{meta.author}}</td>
                        <td class="fg-blue">{{meta.log}}</td>
					{% else %}
						<td class="fg-red">{{meta.haskey}}</td>
						<td class="fg-red">{{meta.revision}}</td>
						<td class="fg-red">{{meta.author}}</td>
						<td class="fg-red">{{meta.log}}</td>
					{% endifequal %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
	    {% else %}
	    <div>No Record.</div>
	    {% endif %}
        </div>
    </div>

{% endblock %}
