{% extends "bbase.html" %}

{% block title %} 字段明细 {% endblock %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1>字段明细 - 表名：{{table}}</h1>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>字段名</th>
						<th>字段别名</th>
						<th>字段类型</th>
						<th>字段描述</th>
					</tr>
				</thead>
				<tbody>
					{% for field in fields %}
					<tr>
						<td>{{field.name}}</td>
						<td>{{field.alias}}</td>
						<td>{{field.type}}</td>
						<td>{{field.desc}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
