{% extends "bbase.html" %}

{% block title %} 书架 {% endblock %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1>书架</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>书名</th>
						<th>作者</th>
						<th>类别</th>
						<th>所有人</th>
						<th>状态</th>
					</tr>
				</thead>
				<tbody>
					{% for book in books %}
					<tr>
						<td>{{book.id}}</td>
						<td>{{book.name}}</td>
						<td>{{book.author}}</td>
						<td>{{book.cat.name}}</td>
						<td>
							{% if book.owner %}
							{{book.owner.user.last_name}}{{book.owner.user.first_name}} 
							{% else %}
							公司
							{% endif %}
						</td>
						<td>{{book.get_status_display}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	共{{books.count}}本书
</div>
{% endblock %}
