{% extends "bbase.html" %}
{% load filename %}

{% block title %} 书架 {% endblock %}

{% block content %}
    <div class="container">
        <h1>
            <a href="/">
                <i class="icon-arrow-left-3 fg-darker smaller"></i>
            </a>
            书架</h1>
        <div class="grid no-margin">
            <table class="table striped bordered hovered">
                <thead>
                    <th class="text-left" style="width:500px;">书名</th>
                    <th class="text-left" style="width:200px;">作者</th>
                    <th class="text-left">类别</th>
                    <th class="text-left">所有人</th>
                    <th class="text-left">状态</th>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{book.name}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.cat.name}}</td>
                        <td>
						{% if book.owner %}
							{{book.owner.name}}
						{% else %}
							公司
						{% endif %}
						</td>
                        <td>{{book.get_status_display}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
			共{{books.count}}本书
        </div>
    </div>

{% endblock %}
