{% extends "bbase.html" %}

{% block title %} 关于我们 {% endblock %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1>关于我们</h1>
	</div>
	<p class="lead">北京办公室<br/>
		联系电话：<code>010-57729868</code> <code>010-88334523</code><br/>
		电子邮件：<code>service@chinadaas.com</code><br/>
		联系地址：北京市西城区西直门外大街18号金贸大厦B座726室,邮编100044
	</p>
	<p class="lead">上海办公室<br/>
		联系电话：<code>021-61119958</code><br/>
		电子邮件：<code>service@chinadaas.com</code><br/>
		联系地址：上海市浦东新区松林路97弄海怡别墅5号,邮编200120
	</p>
	<p>返回 <a href="/">首页</a></p>
</div>
{% endblock %}
