{% extends "bbase.html" %}

{% block title %} 主页 {% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>欢迎访问ChinaDaaS平台!</h1>
		<p>这是中数智汇公司内部网站，本系统可以查询员工通讯录，查询Hbase数据，查询图书架，查询内部分享内容，查看网络地图。其中部分功能可能需要本平台授权访问，请注册账号以保障您的体验。</p>
		<p><a class="btn btn-primary btn-lg" href="/" role="button">更多 &raquo;</a>
		</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Hbase查询</h2>
			<p>这是一个基于Web查询内部Hbase数据库的系统，可以简单的基于主键rowkey快速查询数据。</p>
			<p><a class="btn btn-default" href="{% url 'app.hbase.views.table' %}" role="button">详情 &raquo;</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>网络地图</h2>
			<p>本系统列举了公司内部所有的服务资源，包括但不限于邮箱，测试环境各系统，UAT环境各系统，生产环境各系统，版本库，Jira等。</p>
			<p><a class="btn btn-default" href="{% url 'app.company.views.link' %}" role="button">详情 &raquo;</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>图书架</h2>
			<p>这是公司内部图书架系统，公司先存书量达120本有余，可供员工自由借阅图书。</p>
			<p><a class="btn btn-default" href="{% url 'app.company.views.book' %}" role="button">详情 &raquo;</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}
